*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #14397d;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}


.titulo-sistemas{

    text-align: center;
    font-size: 2.5rem;
    color: #0b1233;
    border-left : 5px solid #1a6fc8;
    margin-bottom: 20px;
}

.titulo-pagina {
    font-weight: 700;
    font-size: 1.75rem;
    color: #0b1233;
    text-align: center;
    margin-bottom: 10px;
}

.subtitulo-pagina {
  font-weight: 400; 
  font-size: 18px;
  color: #44546f;
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 100%;
  height: 60px;
  background: #0f2f75;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 4px;
  padding: 10px;
}

.esqueci {
  text-align: center;
  margin-top: 28px;
  color: #3b4a78;
}
 
.esqueci a {
  color: #1976d2;
}

label {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: #44546f;
  margin-bottom: 12px;
}

.campo input {
  width: 100%;              
  height: 60px;             
  padding-left: 58px;       
  border: 1.5px solid #d5dbf0;
  border-radius: 8px;       
  font-size: 18px;       
}

input {
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding-left: 15px;
  border: 1.5px solid #d5dbf0;
  border-radius: 8px;
  margin-bottom: 15px;
}